* {
    box-sizing: border-box;
    ;
}


/* ==================== Common ==================== */

body {
    font-family: 'Poppins', sans-serif;
    background: #FFFAF5;
}

h1,
h2,
h3 {
    font-family: 'Sora', sans-serif;
}

a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.section-heading {
    color: #000958;
    font-family: Sora;
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 3.875rem;
}

.section-desc {
    color: #656689;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.875rem;
}


/* ==================== Header ==================== */

.header {
    padding-top: 26px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.875rem;
}

.navbar__list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar__link,
.header__btn {
    color: #5E6085;
    font-weight: 500;
}

.navbar__link--active,
.navbar__link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
    transition: 0.2s;
}

.header__btn {
    color: #000958;
    font-weight: 600;
    padding: 18px 31px;
    border-radius: 25px;
    border: 1px solid rgba(0, 9, 88, 0.7);
    transition: 0.2s;
}

.header__btn:hover {
    color: #FFF;
    background-color: #FF5B2E;
    border: 1px solid #FF5B2E;
}


/* ==================== Hero ==================== */

.hero {
    margin-top: 100px;
    height: calc(100vh - 178px);
}

.hero__inner {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.hero__media {
    position: relative;
    display: flex;
}

.hero__img-wrap {
    position: relative;
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #FE997B;
    border: 3px solid #FFF;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
}

.hero__decor-right {
    top: 16px;
    right: -43px;
}

.hero__img-wrap-small {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    background: #FAA7AD;
    border: 2px solid #fadadc;
    margin: 0 0 -58px -24px;
}

.hero__list {
    position: absolute;
    left: 129px;
    bottom: -94px;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-item {
    padding: 18px 14px;
    display: flex;
    align-items: center;
}

.hero-item__thumb {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    background: #FEC23F;
}

.hero-item__thumb-under {
    background-color: #C6E2FA;
}

.hero-item__title {
    color: #181E52;
    font-size: 0.875rem;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    line-height: 0.875rem;
}

.hero-item__horizontal-line {
    width: 222px;
    height: 2px;
    background: #F2F2F2;
    margin: 0 auto;
}

.hero-item__skeleton {
    margin-top: 6px;
    width: var(--width, 118px);
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.hero__content {
    margin-top: 61px;
    width: 466px;
}

.hero__heading {
    color: #000958;
    font-family: 'Sora', sans-serif;
    font-size: 4.125rem;
    font-weight: 800;
    line-height: 4.75rem;
}

.hero__desc {
    display: inline-block;
    width: 391px;
    margin-top: 24px;
    color: #656689;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.hero__btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 30px;
    border-radius: 31px;
    background-color: #FF5B2E;
    border: 1px solid #ff9e83;
    transition: 0.2s;
}

.hero__btn-info {
    display: inline-block;
    color: #FFF;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 600;
}

.hero__row-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: #FFFAF5;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.hero__btn:hover .hero__row-icon {
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
}

.hero__btn:hover {
    /* opacity: 0.9; */
    border: 1px solid #FF5B2E;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__cta-link {
    padding: 20px 0;
    color: #000958;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;
    text-decoration-line: underline;
    transition: 0.2s;
}

.hero__cta-link:hover {
    font-weight: 700;
}


/* ==================== About ==================== */

.about {
    padding-top: 130px;
}

.about__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__content {
    width: 40.77%;
}

.about__label {
    color: #5E6085;
    font-family: Sora;
    font-size: 1rem;
    font-weight: 600;
}

.about__heading {
    margin-top: 15px;
    width: 93.5%;
}

.about__desc {
    margin-top: 24px;
    width: 90.36%;
}

.about__check-list {
    margin-top: 24px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 34px 36px;
}

.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #48496A;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.125rem;
    /* cursor: default; */
}

.about__check-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background: #FF5D31;
}

.about__check-item:hover::before {
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
}

.about__check-item::after {
    content: url(../icon/check.svg);
    position: absolute;
    top: 3px;
    left: 5px;
}

.about__media {
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 494px;
    height: 559px;
}

.about__media::after {
    content: url(../icon/about-decor-2.svg);
    position: absolute;
    bottom: 307px;
    right: -51px;
    z-index: -1;
}

.about__card {
    position: absolute;
    top: 165px;
    left: -92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    width: 136px;
    height: 156px;
    padding: 30px 26px;
    border-radius: 10px;
    background: #5BD6E2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__card-title {
    color: #FFF;
    font-family: Sora;
    font-size: 2.625rem;
    font-weight: 700;
}

.about__card-desc {
    width: 5.1875rem;
    color: #C6F4F9;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.about__card::before {
    position: absolute;
    content: url(../icon/about-decor-1.svg);
    top: -38px;
    right: -30px;
}

.about__img-wrap {
    position: relative;
}

.about__img {
    width: 450px;
    /* height: 100%; */
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about__img-wrap::after {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    content: "";
    display: inline-block;
    width: 100%;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}